<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <h1 class="leader-header">LeaderBoard</h1>
          <a class="play-again" href="/reset">Play again!</a>
      <div class="headers">
        <div class="leader-image">

        </div>
        <div class="leader-name">
          Name
        </div>
        <div class="leader-difficulty">
          Difficulty
        </div>
        <div class="leader-guesses">
          Guesses Left
        </div>
        <div class="leader-date">
          Date
        </div>
      </div>
      {{#leaders}}
      <div class="leader">
        {{#image}}
        <div class="leader-image">
          <img class="leader-image" src="/uploads/{{image}}" alt="">
        </div>
        {{/image}}
        {{^image}}
        <div class="leader-image">
          <img class="leader-image" src="https://www.placecage.com/c/200/300" alt="">
        </div>
        {{/image}}
        <div class="leader-name">
          {{name}}
        </div>
        <div class="leader-difficulty">
          {{difficulty}}
        </div>
        <div class="leader-guesses">
          {{guessesLeft}}
        </div>
        <div class="leader-date">
          {{date}}
        </div>
      </div>
      {{/leaders}}
    </div>
  </body>
</html>
