<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <h1>LeaderBoard</h1>
      <div class="headers">
        <div class="leader-image">

        </div>
        <div class="leader-name">
          Name
        </div>
        <div class="leader-guesses">
          Guesses Left
        </div>
        <div class="leader-date">
          Date
        </div>
      </div>
      {{#leaders}}
      <div class="leader">
        <div class="leader-image">
                  <img class="leader-image" src="{{image}}" alt="">
        </div>

        <div class="leader-name">
          {{name}}
        </div>
        <div class="leader-guesses">
          {{guessesLeft}}
        </div>
        <div class="leader-date">
          {{date}}
        </div>
      </div>
      {{/leaders}}
    </div>
  </body>
</html>
