* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #FAFAFA;
}

img {
  max-width: 100%;
}

.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E3F2FD;
  color: #4E3D42;
  border-radius: 10px;
}

.title {
  margin: 10px;
}

.word-guess {
  font-size: 50px;
  margin: 10px;
  color: #ABC8C0;
  padding: 50px;
}

.guess {
  margin: 10px;
  background-color: #95a5a6;
  padding: 0 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 2px gray;
}

.message {
  color: #DB5461;
  font-size: 20px;
  font-weight: bold;
}

.guessed-letters {
  font-size: 30px;
}

.results-message {
  font-size: 50px;
  margin: 20px;
}

.word {
  font-size: 40px;
  margin: 20px;
}

.play-again {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 20px;
  background-color: #9EE493;
}

.headers {
  display: flex;
  width: 100%;
  padding: 0 20px 10px 20px;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.leader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  height: 150px;
  overflow: hidden;
  margin: 20px 0;
}

.leader-image {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leader-name {
  flex-basis: 23%;
  text-align: center;
}

.leader-guesses {
  flex-basis: 23%;
  text-align: center;
}

.leader-date {
  flex-basis: 23%;
  text-align: center;
}

.leader-header {
  padding: 20px;
}

.join-leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2980b9;
  border-radius: 10px;
  box-shadow: 5px 5px 3px gray;
  margin-bottom: 30px;
  color: #ecf0f1;
}

.choose-difficulty {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.difficulty-buttons {
  display: flex;
  justify-content: space-around;
}

.difficulty {
  text-decoration: none;
  border: 2px solid #4E3D42;
  color: #4E3D42;
  width: 30%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 15px;
  background-color: #9EE493;
}

legend {
  font-size: 22px;
  margin: 10px;
}

.name-input {
  margin: 10px;
  font-size: 16px;
  padding: 5px;
}

label {
  margin: 10px;
}

.file-input {
  margin: 10px;
}

.leaderboard-button {
  margin: 15px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #bdc3c7;
  color: #2c3e50;
}

.guess-input {
  font-size: 16px;
  padding: 5px;
}

.guess-submit {
  margin: 15px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #2980b9;
  color: #ecf0f1;
}
