* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #FAFAFA;
}

img {
  max-width: 100%;
}

.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E3F2FD;
  color: #4E3D42;
}

.title {
  margin: 10px;
}

.word-guess {
  font-size: 50px;
  margin: 10px;
  color: #ABC8C0;
  padding: 50px;
}

.guess {
  margin: 10px;
}

.message {
  color: #DB5461;
  font-size: 20px;
  font-weight: bold;
}

.guessed-letters {
  font-size: 30px;
}

.results-message {
  font-size: 50px;
  margin: 20px;
}

.word {
  font-size: 40px;
  margin: 20px;
}

.play-again {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 50px;
  text-decoration: none;
  font-size: 20px;
  background-color: #9EE493;
}

.headers {
  display: flex;
  width: 100%;
  padding: 0 20px 10px 20px;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.leader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  height: 150px;
  overflow: hidden;
  margin: 20px 0;
}

.leader-image {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leader-name {
  flex-basis: 23%;
  text-align: center;
}

.leader-guesses {
  flex-basis: 23%;
  text-align: center;
}

.leader-date {
  flex-basis: 23%;
  text-align: center;
}

.leader-header {
  padding: 20px;
}
